benbond.com, www.benbond.com {
  root * /srv/www/benbond.com
  file_server
}

test-werewolf.benbond.com {
  reverse_proxy werewolf-web-test:80
}

test-api-werewolf.benbond.com {
  reverse_proxy werewolf-server-test:4000
}

werewolf.benbond.com {
  reverse_proxy werewolf-web:80
}

api-werewolf.benbond.com {
  reverse_proxy werewolf-server:4000
}
